{
	admin off
	persist_config off
	auto_https off

	log {
		format json
		output stderr
		level INFO
	}
}

:{$PORT:80} {
	root * /app/public

	encode zstd br gzip

	file_server {
		hide .git
		hide .env*
	}

	php_server
}
